.barra {
    width: 813px;
    height: 64px;
    border: 5px solid black;
}

.barra2 {
    border-radius: 50px;
    background-color: #a49b9b69
}

.Lupa {
    text-align: left;
    margin: 0 0 0 45rem;
    padding: 20px;
}