.Color_one {
    background-color:#212529; 
}

.Color_two {
    background-color: #3DB88C;
}

.Color_three {
    background-color:#A49B9B; 
}

.Color_four {
    background-color:#FBF4F4; 
}

article {
    div {
        max-width: 5rem;
        height: 5rem;
        margin: 2rem;
        color: #ffff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding: 2rem;
    }
}