/*Header*/
.background {
    background-image: url("img/catalogo/background.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

    img {
        margin-top: 2%;
        margin-left: 4%;
    }

    p {
        color: adjust-color($color: #fff);
        font-size: 3rem;
        margin-top: -10px;
        margin-left: 8px;
        
    }
}

.barra {
    margin-top: -10%;
    margin-left: 25%;
}

.barra1 {
    padding: 10px 8%;
    border-color: adjust-color($color: #000000);

}

.loupe {
    margin-left: 57%;
    margin-top: -50px;
}

.contact_btn {
    margin-left: 74%;
    margin-top: -25px;
}

.button_four {
    background-color: #3DB88C;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    padding: 5px 15px;
}

.cart_img {
    margin-left: 85%;
    margin-top: -5%;
}

.h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 800;
}

.logo{
    border-radius: 50%;
}

nav {
    background-color: #212529;
    margin-top: 12px;
    padding: 10px;
    font-family: 'Libre Franklin', sans-serif;

    a {
        text-decoration: none;
        color: adjust-color($color: #fff);
        margin-left: 3%;
        
    }
}

.lupa {
    max-width: 3rem;
}

.ver_btn {
    background-color: #3DB88C;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    padding: 5px 15px;
    margin-left: 3%;
}

.home {
    margin-left: 95%;
    margin-top: -20%;
}

/*article_imagenes*/

/*Generales*/
body {
    background-color: #d9d9d9c5;
}

h2 {
    text-align: 20px;
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-size: 15px;
    font-family: 'Libre Franklin', sans-serif;
}

/*Clases*/
.p_inter {
    font-size: 15px;
    font-family: 'Libre Franklin', sans-serif;
}

.catalogo {
    display: flex;
}

.red {
    text-align: 20px;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    color: #F61010;
    text-align: center;
}

.catalog {
    justify-content: center;
    padding: 5rem;
}

div {
    img {
        max-width: 12rem;
    }
}

section {
    div {
        margin: 1rem;
    }
}

/*FOOTER*/
.footer {
    background-color: #212529;
    padding: 2rem;
}

.comentarios {
    background-color: #fff;
    width: 33rem;
    margin: 0 0 0 25rem;
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}

footer {
    display: flex;
}

.verde {
    color: #3DB88C;
}

.about {
    display: inline;
    color: #ffff;
    text-align: center;
    text-align: center;

    div {
        width: 247px;
        font-family: 'Nunito', sans-serif;
        margin: 2rem;
    }

}

.one {
    display: flex;
}

.perfil {
    margin: 1rem;
}

.redes {
    img {
        margin: 20px;
    }
}